Hey {{name}},



Your {{car_name}} has been booked for Order Id: {{order_id}}.
Amount = ₹ {{price}}
Car booked from = {{journey_start_date}}
Car booked till = {{journey_end_date}}
Booking Date = {{booking_date}}

Thank you for booking ride with us.


Details of the Rider:
Name of rider: {{name_of_rider}}
Contact number of the rider: {{contact_number_rider}}

If you face any problem try contacting our support team.

Have a great day!!
Team CarHub.

---------------------------------------------------------
<i>Please note: This is a system generated e-mail. Please do not reply to this message.</i>